.tab-switcher {
  display: -ms-flexbox;
  display: flex;
}
.tab-switcher .tab-icon {
  font-size: 2em;
  display: block;
}
.tab-switcher.top-tabs {
  -ms-flex-direction: column;
      flex-direction: column;
}
.tab-switcher.top-tabs > .tabs {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-top: 5px;
  -ms-flex-direction: row;
      flex-direction: row;
}
.tab-switcher.top-tabs > .tabs::after, .tab-switcher.top-tabs > .tabs::before {
  content: "";
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  border-bottom: 1px solid;
  border-bottom-color: #222;
  border-bottom-color: var(--border, #222);
}
.tab-switcher.top-tabs > .tabs .tab-wrapper {
  height: 28px;
}
.tab-switcher.top-tabs > .tabs .tab-wrapper:not(.active)::after {
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid;
  border-bottom-color: #222;
  border-bottom-color: var(--border, #222);
}
.tab-switcher.top-tabs > .tabs .tab {
  width: 100%;
  min-width: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 99px;
  margin-bottom: -93px;
}
.tab-switcher.top-tabs .contents.scrollable-tabs {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}
.tab-switcher.side-tabs {
  -ms-flex-direction: row;
      flex-direction: row;
}
@media all and (max-width: 800px) {
  .tab-switcher.side-tabs {
    overflow-x: auto;
  }
}
.tab-switcher.side-tabs > .contents {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.tab-switcher.side-tabs > .tabs {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-flex-direction: column;
      flex-direction: column;
}
.tab-switcher.side-tabs > .tabs::after, .tab-switcher.side-tabs > .tabs::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0.5em;
      flex-basis: 0.5em;
  content: "";
  border-right: 1px solid;
  border-right-color: #222;
  border-right-color: var(--border, #222);
}
.tab-switcher.side-tabs > .tabs::after {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.tab-switcher.side-tabs > .tabs::before {
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.tab-switcher.side-tabs > .tabs .tab-wrapper {
  min-width: 10em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media all and (max-width: 800px) {
  .tab-switcher.side-tabs > .tabs .tab-wrapper {
    min-width: 1em;
  }
}
.tab-switcher.side-tabs > .tabs .tab-wrapper:not(.active)::after {
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid;
  border-right-color: #222;
  border-right-color: var(--border, #222);
}
.tab-switcher.side-tabs > .tabs .tab-wrapper::before {
  -ms-flex: 0 0 6px;
      flex: 0 0 6px;
  content: "";
  border-right: 1px solid;
  border-right-color: #222;
  border-right-color: var(--border, #222);
}
.tab-switcher.side-tabs > .tabs .tab-wrapper:last-child .tab {
  margin-bottom: 0;
}
.tab-switcher.side-tabs > .tabs .tab {
  -ms-flex: 1;
      flex: 1;
  box-sizing: content-box;
  min-width: 10em;
  min-width: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 1em;
  padding-right: calc(1em + 200px);
  margin-right: -200px;
  margin-left: 1em;
}
@media all and (max-width: 800px) {
  .tab-switcher.side-tabs > .tabs .tab {
    padding-left: 0.25em;
    padding-right: calc(.25em + 200px);
    margin-right: calc(.25em - 200px);
    margin-left: 0.25em;
  }
  .tab-switcher.side-tabs > .tabs .tab .text {
    display: none;
  }
}
.tab-switcher .contents {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  min-height: 0px;
}
.tab-switcher .contents .hidden {
  display: none;
}
.tab-switcher .contents .full-height:not(.hidden) {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.tab-switcher .contents .full-height:not(.hidden) > *:not(.mobile-label) {
  -ms-flex: 1;
      flex: 1;
}
.tab-switcher .contents.scrollable-tabs {
  overflow-y: auto;
}
.tab-switcher .tab {
  position: relative;
  white-space: nowrap;
  padding: 6px 1em;
  background-color: #182230;
  background-color: var(--tab, #182230);
}
.tab-switcher .tab, .tab-switcher .tab:active .tab-icon {
  color: #b9b9ba;
  color: var(--tabText, #b9b9ba);
}
.tab-switcher .tab:not(.active) {
  z-index: 4;
}
.tab-switcher .tab:not(.active):hover {
  z-index: 6;
}
.tab-switcher .tab.active {
  background: transparent;
  z-index: 5;
  color: #b9b9ba;
  color: var(--tabActiveText, #b9b9ba);
}
.tab-switcher .tab img {
  max-height: 26px;
  vertical-align: top;
  margin-top: -5px;
}
.tab-switcher .tabs {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.tab-switcher .tabs::after, .tab-switcher .tabs::before {
  display: block;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.tab-switcher .tab-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.tab-switcher .tab-wrapper:not(.active)::after {
  content: "";
  position: absolute;
  z-index: 7;
}
.tab-switcher .mobile-label {
  padding-left: 0.3em;
  padding-bottom: 0.25em;
  margin-top: 0.5em;
  margin-left: 0.2em;
  margin-bottom: 0.25em;
  border-bottom: 1px solid var(--border, #222);
}
@media all and (min-width: 800px) {
  .tab-switcher .mobile-label {
    display: none;
  }
}
.with-load-more-footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid;
  border-top-color: #222;
  border-top-color: var(--border, #222);
}
.with-load-more-footer .error {
  font-size: 14px;
}
.with-load-more-footer a {
  cursor: pointer;
}

/*# sourceMappingURL=app.6dbc7dea4fc148c85860.css.map*/